html {
  scroll-behavior: smooth;
}
        
    /* Mobile view - vertical */
    @media (max-width: 768px) {
       nav {
          position: sticky;
          flex-direction: column;
          align-items: center;
        }

  .nav-right {
    width: 100%;
    margin-top: 10px;
  }

  .nav-right input {
    width: 100%;
    margin: 10px;

  }

        #home {
          display: flex;
          width: 100%;
          min-height: 100vh;
          margin: auto;
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
        }
       #home p{
          width: 100%;
          text-align: justify;
          margin: auto;
          padding:0 30px;
        }
       #about{
            width: 100%;
            min-height: 100vh;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .about-img {
          padding-left:15px;
          margin-left: 20px;
        }
        .offer1-text {
           width: 100%;
           margin: auto;
        }
         #home img, #about img, .product img {
                        max-width: 500px;
                        width: 100%;
                        margin:auto;   /* centers images */
                        align-items: center;
                        justify-content: center;
         }
       
         #contact-section{
                width: 100%;
                min-height: 90vh;
                max-width: 400px;
         }
           nav a {
             display: block;
           }
    }

    /* Desktop view - horizontal */
 @media (min-width: 768px) {
   nav {
      position: sticky;
     display: flex;
     justify-content: space-between; /* push left group left, right group right */
     align-items: center;
     width: 60%;
     margin:auto;
  }

.nav-left a {
  margin: 0 10px;
}

.nav-right input {
  width: 200px;
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 6px rgba(51, 51, 51, 0.3);
}
      #home {
        display: flex;
        width: 80%;
        min-height: 100vh;  
        flex-direction: row;
        margin: auto;
      }
      #about{
        flex-direction: row;
        min-height: 100vh;  
        width:80%;
        margin: auto;
      }
        article.text {
           width: 40%;
           text-align: left;
        }
        article.image {
            width: 40%;
            margin: auto;
        }
        #about_txt{
           text-align: left;
           width: 600px;
        }
        #about img {
           width: 500px;
           margin: auto;
           border-radius: 20px;
           box-shadow: 2px 2px 6px rgba(51,51,51,1);
        }
       #contact-section{
          min-height: 92vh; 
              margin: auto;
            display: flex;
            justify-content: center;
          align-items: center;
       }
      .product{
        width: 80%;
      }
      #about{
         display: flex;
         flex-wrap: wrap;
         align-items: center;
       }
      
}

      body {
        font-family: Arial, sans-serif;
        background: #FFF8E7;   
      }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
         padding: 20px;
         display: flex;
         margin: auto;
        justify-content: space-between;
        }
  
    a{
        color: #ff4081;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        flex: 1;
        text-align: center;
        padding: 10px;
        
    }
    nav a:hover {
         color: #009688;
         transform: scale(1.1); /* Small zoom effect */
    }
    a, .btn, .product img {
        transition: all 0.3s ease;
    }
 
    #home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   #about{
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: auto;
    }
     
    .offer-text{
           letter-spacing: 0.4px;
           font-size: 28px;
           color:  orangered;
    }
    .burger-text{
        letter-spacing: 0.4px;
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color:orange;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    }
   
    .offer1-text{
          letter-spacing: 0.5px;
          line-height: 20px;
          font-size: 15px;
          padding: 5px;
          color: rgb(139, 133, 133);
          font-weight: 300; 
          text-align: justify;
    }
    nav input{
        border-radius: 10px;
        text-align: right;
        padding: 20px;
        border: none;
        box-shadow:  2px 2px 6px rgba(51, 51, 51, 1);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
    .text button, .product button, .form_text button {
            background: linear-gradient(135deg, #FF9800, #F44336); 
            color: #fff;
            font-weight: bold;
            padding: 12px 24px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
    }
    .btn:hover{
       transform: scale(1.1);
    } 
   
    .h1_txt{
      font-size: 50px;
      font-weight: 400;
      font-family: 'Brush Script MT', cursive;
      color: #222;
    }
    .para{
      color: rgb(91, 84, 84);
      text-align: justify;
      letter-spacing: 0.5px;
      padding: 10px;
      line-height: 25px;
    }
  
    #about img{
       height:300px;
       border-radius: 20px;
       box-shadow:  2px 2px 6px rgba(51, 51, 51, 1);
       margin-right:12px;
    }
    #about_txt{
      padding: 10px;
    }

    #Product{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
       gap: 20px;  
       width: 80%;
       margin: auto;
    }
    .product{
             height: auto;
             width: 350px;
             padding: 0;
             box-shadow: 2px 2px 6px rgba(51, 51, 51, 1);
             border-radius: 10px;
             margin: 15px;
             overflow: hidden;/* ensures image corners follow box */
    }
    .product img{
       width: 100%;
       height: 200px;
       border: rgb(139, 133, 133);
       object-fit: cover;
      
    }
    .product p{
       color: rgb(91, 84, 84);
       text-align: justify;
       letter-spacing: 0.5px;
       font-size: 14px;
       line-height: 25px;
      padding: 15px;
    }
   .product h1,.product h2 {
  font-size: 18px;
  padding: 15px;
}
.product_txt{
  display: flex;
  justify-content: space-between;/* pushes h1 left, h2 right */
}
.product {
  text-align: center;
  padding-bottom: 20px;
}
h2{
   color: #e63946; 
}
#menubar h1,#contact_h1 h1{
    letter-spacing: 0.5px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #2C3E50; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.product_txt h1{
   color: #ff9800;
}


 #contact-section {
     color: #fff;
     margin: auto;
     display: flex;
     justify-content: center;  /* horizontal center */
     align-items: center;      /* vertical center */
    }
     

 .contact-form {
      background: rgba(0,0,0,0.6); 
      padding: 30px;
      border-radius: 12px;
      width: 400px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    }
   
 .contact-form h2{
      font-weight: bold;
      color: #fff;
      font-size: 25px;
    }
    .select select{
       color: #555; 
    }
.contact-form input,
    .contact-form textarea,.contact-form select {
      text-align: left;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 6px;
    }
    .contact-form input[type="submit"] {
      background: #ff9800;
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      transition: 0.3s;
    }
    .contact-form input[type="submit"]:hover
    {
      background: linear-gradient(135deg, #FF9800, #F44336); 
    }

footer{
  height: 50px;
  background-color: #2C3E50; 
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

